@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

body {
	background-color: Green;
	border: 2px solid #111111;
	border-radius: 16px;
	font-family: Pushster;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	min-width: 256px;
	padding-top: 8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}
html {
	background-color: #111111;
}
nav ul {
	list-style-type:none;
	background-color:#43a326;
	border: 4px solid #111111;
	border-radius: 10px;
	font-family: Pushster;
	padding: 16px;
}
nav ul li {
	display:inline;
	border-right: 2px solid #111111;
	padding-right: 8px;
	padding-left: 8px;
}
nav ul li:last-child {
	border-right:none;
}
nav ul li a {
	text-decoration: none;
	color:#111111;
	}
nav li a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
	background-color: black;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}
p.top-tip {
	border:4px solid
	#00AFEB;
	border-radius:10px;
	padding:16px;
	background-color:
	#C5EBFB;
}
p.top-tip::before {
	color:Black;
	content:"TOP TIP: ";
	font-weight:bold;
}
header {
	background-color: #009100;
	border: 4px solid #111111;
	border-radius: 10px;
}
section {
	background-color:#43a326;
	border: 4px solid #111111;
	border-radius: 10px;
	font-family: Pushster;
	Margin-bottom: 24px;
	min-height: 350px;
}
section h2 {
	padding-left: 5px;
	text-decoration: underline;
}
section img {
	float: left;
	padding-right: 10px;
}
section ul {
	list-style-type:none;
}
section ul li {
	padding-bottom: 15px;
}
a {
	text-decoration: none;
	color:#111111;
}
p a {
	font-size: 20px;
}